*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* utility */
.bg_blue{
  background: #0c325a;
}
.bg_green{
  background: #7cbb02;
}
.bg_grey{
  background: #d3d3d3;
}

.float_left{
  float: left;
}
/* /utility */

/* struttura */
#site_header{
  height: 550px;
}
#main_content{
  height: 1125px;
}
#site_footer{
  height: 150px;
}
/* /struttura */

.container{
  width: 85%;
  margin: auto;
}
/* header */
 /* .navbar */
.navbar::after{
  content: "";
  display: table;
  clear: both;
}
.navbar{
  height: 80px;
  font-size: 11px;
  text-transform: uppercase;
}

.logo{
  width: 13%;
  margin-top: 9px;
}

.logo, .menu_left, .menu_right{
  line-height: 80px;
}

.menu_left{
  width: 52%;
}
.menu_left a, .menu_right a{
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}
.menu_left a:hover{
  color: orange;
}
.menu_right{
  width: 35%;
  text-align: right;
}
/* bottom */
.btn_small{
  border: 1px solid white;
  border-radius: 6px;
  /* padding: 10px 20px!important; */
  margin-right: 20px;
}
.b_radius{
  border-radius: 6px;
}
/* /bottom */
/* /.navbar */

/* sezione hero */
.hero_container{
  background-image: url('../img/banner_header.png');
  background-size: 68%;
  background-repeat: no-repeat;
  background-position: 115% 130%;
}
.hero_image{
  position: relative;
  height: calc(550px - 80px)
}
.hero_text{
  width: 50%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero_text h1{
  font-size: 3.6em;
  font-weight: 500;
  margin-bottom: 50px;
}

.btn{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 6px;
  padding: 20px 10px;
}
/* /header */

/* main */
.row_header{
  height: 150px;
  text-align: center;
  padding: 40px;
  line-height: 2;
}
.row_header h2{
  font-weight: 500;
}
.row_header h3{
  font-weight: 400;
  color: grey;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

.col_4{
  width: 33.33%;
  text-align: center;
  height: 500px;
  padding: 40px 0;
  position: relative;
  margin-bottom: 20px;
}

/* immagini */
.row_center > img{
  margin-bottom: 20px;
}
img.profile{
  width: 30%;
}
img.computer{
  width: 51%;
}
img.doc{
  width: 35.5%;
}
/* /immagini */

.col_4 > .col_text{
  width: 80%;
  margin: auto;
  line-height: 1.5;
}
.col_4 > .col_text h2{
  font-size: 23px;
  font-weight: 500;
  color: #7cbb02;
}
.col_4 > .col_text p{
  font-weight: 400;
  color: grey;
  font-size: 16.5px;
}

.hr_top_row{
  width: 20%;
  margin: 20px 40%;
}

.hr_bottom_row{
  margin: 1%;
  border-style: inset;
}

.col_6{
  width: 50%;
}
.col_6::after{
  content:"";
  display: table;
  clear:
}

img.mountain{
  width: 75%;
  text-align: center;
  padding: 24px;
}

.col_6 > .col_text{
  width: 70%;
  margin-left: 20px;
}
.col_6 h2{
  font-size: 34px;
  font-weight: 500;
  line-height: 1.2;
}
.col_6 p{
  font-weight: 400;
  color: grey;
  font-size: 19px;
  margin: 20px 0;
  line-height: 1.3;
}
.col_6 a{
  color: #5586bc;
}
/* /main */
