*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* utility */
.bg_blue{
  background: #0c325a;
}
.bg_green{
  background: #7cbb02;
}
.bg_grey{
  background: #d3d3d3;
}

.float_left{
  float: left;
}
/* /utility */

/* struttura */
#site_header{
  height: 550px;
}
#main_content{
  height: 1000px;
}
#site_footer{
  height: 150px;
}
/* /struttura */

.container{
  width: 85%;
  margin: auto;
}

 /* .navbar */
.navbar::after{
  content: "";
  display: table;
  clear: both;
}
.navbar{
  height: 80px;
  font-size: 11px;
  text-transform: uppercase;
}

.logo{
  width: 13%;
  margin-top: 9px;
}

.logo, .menu_left, .menu_right{
  line-height: 80px;
}

.menu_left{
  width: 52%;
}
.menu_left a, .menu_right a{
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}
.menu_left a:hover{
  color: orange;
}
.menu_right{
  width: 35%;
  text-align: right;
}
/* bottom */
.btn_small{
  border: 1px solid white;
  border-radius: 6px;
  /* padding: 10px 20px!important; */
  margin-right: 20px;
}
.b_radius{
  border-radius: 6px;
}
/* /bottom */
/* /.navbar */

/* sezione hero */
.hero_container{
  background-image: url('../img/banner_header.png');
  background-size: 68%;
  background-repeat: no-repeat;
  background-position: 115% 130%;
}
.hero_image{
  position: relative;
  height: calc(550px - 80px)
}
.hero_text{
  width: 50%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero_text h1{
  font-size: 3.6em;
  font-weight: 500;
  margin-bottom: 50px;
}

.btn{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 6px;
  padding: 20px 10px;
}
